{% extends "home.html" %}

{% block above %}

  <div class="header">
    <h2>
      List of blogs  
    </h2>
  </div>

{% endblock %}

{% block title %}
{% endblock  %}

{% block add %}

  <div>
    <h5>
      <a href="/create">
      <button>
        Create a new Blog
      </button>
      </a>
    </h5>
  </div>

  {% for object in object_list %}

    <li class="posts">

      <span>{{ object.user }}</span>
      <a href="{{ object.get_absolute_url }}">
      <h6></h6>
        {{ object.title }}
        <h6>
          {{ object.content }}
        </h6>

      </a>
    </li>
    
  {% endfor %}



{% endblock %}